<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head th:insert="fragments/fragments.html :: headerfiles">
    <title>Dashboard</title>
</head>
<body>

<div th:insert="fragments/fragments.html :: nav"></div>

<div class="container-fluid">
    <div class="row dashboard">
        <div class="col-md-4 info-user-container">
            <div class="info-user-buttons-container">
                <div class="dashboard-card card-user">
                    <div class="picture-profil">
                        <img th:src="@{/image/profil-picture-1.jpeg}" alt="photo de profil" src="" />
                    </div>
                    <div class="info-user">
                        <p>Nom : <span th:text="${customer.lastName}"></span></p>
                        <p>Prénom : <span th:text="${customer.firstName}"></span></p>
                        <p>Email : <span th:text="${customer.email}"></span></p>
                        <p>Téléphone : <span th:text="${customer.phoneNumber}"></span></p>
                        <p>Adresse : <span th:text="${customer.address}"></span></p>
                        <p>Inscris depuis le : <span
                                th:text="${#temporals.format(customer.registrationDate,'dd MMM YYYY')}"></span></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8 info-loan-container">
            <div class="dashboard-card">
                <div class="loan-title text-center">
                    <h2>Mes livres empruntés</h2>
                </div>
                <!-- List of book borrow by user -->
                <div class="loan-list">
                    <!-- Loan list -->
                    <div th:each="loan : ${loans}" class="catalog-item">
                        <a th:href="@{'/books/catalog/book/' + ${loan.copy.book.id}}">
                            <div th:classappend="${(loan.loanStatus.equalsIgnoreCase('Rendu') ? 'inside-item finish-item' : 'inside-item' )}">
                                <div class="cover-item">
                                    <img th:src="${loan.copy.book.cover.getUrl()}" alt="couverture du livre" src="">
                                </div>
                                <div class="info-item">
                                    <div class="header-item">
                                        <div class="title-book" th:text="${loan.copy.book.title}"></div>
                                        <div class="loan-button-status">
                                            <div th:if="${!(loan.loanStatus.equalsIgnoreCase('Rendu') || loan.loanStatus.equalsIgnoreCase('En retard'))}" class="extend-button">
                                                <span th:if="${loan.extend}" class="extend-button-disable">
                                                <i class="fas fa-history"></i>
                                                </span>
                                                <span th:unless="${loan.extend}">
                                                    <a th:href="@{|/loans/extend/${loan.id}|}">
                                                        <i class="fas fa-history"></i>
                                                    </a>
                                                </span>
                                            </div>
                                            <div th:classappend="${(loan.loanStatus.equalsIgnoreCase('Rendu')? 'closed' : '' ) +
                                                               (loan.loanStatus.equalsIgnoreCase('Prolongé')? 'extended' : '' ) +
                                                               (loan.loanStatus.equalsIgnoreCase('En retard')? 'outdated' : '' ) +
                                                               (loan.loanStatus.equalsIgnoreCase('En cours')? 'ongoing' : '' )}">
                                                <span th:text="${loan.loanStatus}"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div th:if="${!loan.loanStatus.equalsIgnoreCase('Rendu')}" class="return-date">
                                        <div>
                                            <b>Emprunté le :</b>
                                            <span th:text="${#temporals.format(loan.beginLoanDate,'dd MMM YYYY')}"></span>
                                        </div>
                                        <div th:if="${!loan.loanStatus.equalsIgnoreCase('Prolongé')}">
                                            <b>A rendre avant le :</b>
                                            <span th:text="${#temporals.format(loan.endingLoanDate,'dd MMM YYYY')}"></span>
                                        </div>
                                        <div th:unless="${!loan.loanStatus.equalsIgnoreCase('Prolongé')}">
                                            <b>A rendre avant le :</b>
                                            <span th:text="${#temporals.format(loan.extendLoanDate,'dd MMM YYYY')}"></span>
                                        </div>
                                    </div>
                                    <div th:unless="${!loan.loanStatus.equalsIgnoreCase('Rendu')}"
                                         class="return-date disabled-text">
                                        <div>
                                            Emprunté le :
                                            <span th:text="${#temporals.format(loan.beginLoanDate,'dd MMM YYYY')}"></span>
                                        </div>
                                        <div>
                                            Rendu le :
                                            <span th:text="${#temporals.format(loan.returnLoanDate,'dd MMM YYYY')}"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:insert="fragments/fragments.html :: footer" class="footer"></div>

<div th:insert="fragments/fragments.html :: script"></div>

</body>
</html>